*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	// font-size: 100%;
	font-family: "Poppins", sans-serif !important;
}

.mybody {
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	font-family: "Poppins", sans-serif !important;
}
