*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 130%;
	font-family: "Poppins", sans-serif;
}

body,
html {
	@include respond(768) {
		overflow-x: hidden;
	}
}
