.about-us {
	width: 100%;
	height: 85vh;
	position: relative;
	background-image: linear-gradient(rgba($primary-light, 0.2), rgba($primary-light, 0.2)), url(../img/engineering.jpg);
	background-position: top;
	background-size: cover;

	overflow-x: hidden;
	&__heading {
		position: absolute;
		font-size: 3rem;
		font-weight: 700;
		color: white;
		padding: 10px;
		min-width: 30rem;
		// background-color: rgba($color: $, $alpha: 0.8);

		top: 20%;
		left: 40%;
		transform: translate(-50%, -50%);

		// @include respond(1000) {
		// 	left: 45%;
		// }

		@include respond(768) {
			left: 60%;
		}

		// @include respond(500) {
		// 	color: black;
		// }
	}

	&__content {
		// display: flex;
		position: absolute;
		margin-top: 1rem;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $primary-dark;
		min-width: 30rem;
		// height: 20rem;

		&-text {
			height: 100%;
			width: 100%;
			// display: flex;
			font-size: 1.2rem;
			// justify-content: center;
			line-height: 1.7rem;
			// align-items: center;
			padding: 1rem;

			color: white;

			@include respond(768) {
				font-size: 1rem;
			}
		}
	}
}
